*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  margin:0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{background-color:#161616;color:#fff;}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; 
}

body {
  margin: 0; /* body의 마진 제거 */
  padding: 0; /* body의 패딩 제거 */
}

ul {
  list-style-type: none; 
}

.swiper:first-of-type{margin-bottom:50px;}
.swiper-slide{width:auto;}
.swiper-slide.swiperItem{cursor:pointer;display:flex;flex-direction:column;gap:8px 0;overflow:hidden;display:flex;justify-content:center;;width: calc(25% - 20px);box-sizing:border-box;}
.swiper-slide.swiperItem .swiperImg{overflow:hidden;display:flex;justify-content:center;max-height:300px;}
.swiper-slide.swiperItem h5{font-size:16px;}
.swiper-slide.swiperItem span{color:gray;}
@media (max-width: 750px) {
  .App {
    text-align: center;
    width:auto;
    max-width:750px;
    margin:0 auto;
  }
  .swiper{max-width:750px;}
  .swiper-slide{margin:0;}
  .swiper-slide.swiperItem .swiperImg{overflow:hidden;display:flex;justify-content:center;}
}
@media (max-width: 375px){
  .swiper-slide.swiperItem .swiperImg{max-height:230px;}
  .swiper-slide.swiperItem .swiperImg>img{width: 100%;height:auto;}
}